        body {
            background-color: #ffffff;
            color: #999999;
            font-family: 'Poppins', Helvetica, sans-serif;
            text-align: center;
            font-weight: 300;
        }

        .hidden {
            display: none;
        }

#intro {
  max-width: 877px;
  margin: 0 auto;
}
h1 {
  font-size: 24px;
  color: black;
  font-weight: 700;
}
#intro h1 {
  margin-bottom: 0px;
}
#intro p {
  margin-top: 3px;
  padding-bottom: 20px;
  font-size: 24px;
}

        /*.copy {
            width: 250px;
            text-align: center;
            position: absolute;
            left: 50%;
            top: 33%;
            transform: translate(-50%, -50%);
            font-weight: lighter;
            line-height: 1.3em;
        }*/
        #privacy-note {
            display: block;
            padding-top: 30px;
            font-size: 75%;
        }

        tm-timed-button {
            /* --fill-color: black; */
        }
        teachable-button {
            position: fixed;
            bottom: 40px;
            left: 50%;
            transform: translate(-50%, 0);
        }

        tm-croppable-webcam {
            width: 152px;
            height: 152px;
            position: fixed;
            left: 50%;
            top: calc(100vh - 230px);
            transform: translate(-50%, -50%);
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
        }

        #prediction {
            display: block;
            margin-top: 80px;
            font-size: 500%;
            font-weight: 900;
        }

        .hidden {
            display: none;
        }

        #snippet {
            text-align: left;
            background-color: #ffffff;
            border: 1px solid #cccccc;
            box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
            position: absolute;
            top: 10px;
            left: 10px;
            width: calc(100vw - 60px);
            max-width: 960px;
            padding: 50px 20px 20px 20px;
            height: auto;
        }
        #source-button.active {
            background: #1664cd;
        }
        #source-button {
            padding: 10px 20px 10px 20px;
            position: absolute;
            top: 10px;
            left: 10px;
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            border-radius: 0 0 8px 0;
            background: rgba(0, 0, 0, 0.33);
            cursor: pointer;
            box-sizing: border-box;
            border: 0;
        }
        #source-button:focus {
            outline: 1px solid #c9cbde;
        }
        #source-button {
            background: rgba(0, 0, 0, 0.66);
        }