body {
    background-color: #ffffff;
    color: #999999;
    font-family: 'Poppins', Helvetica, sans-serif;
    text-align: center;
    font-weight: 300;
}

.hidden {
    display: none;
}

#train-model-button {
  width: 200px;
  --background-color: #1A73E8;
  --color: #ffffff;
}

#intro {
  max-width: 877px;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  color: black;
  font-weight: 700;
}

#intro h1 {
  margin-bottom: 0px;
}

#intro p {
  margin-top: 3px;
  padding-bottom: 20px;
  font-size: 24px;
}

#images {
  width: 850px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
}

#images img {
  width: 850px;
  height: auto;
}



tm-croppable-webcam {
    width: 270px;
    height: 270px;
    position: fixed;
    left: 50%;
    top: calc(100vh - 230px);
    transform: translate(-50%, -50%);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}
